<div class="mt-4">
  <h3>Dang khoa Hoc</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="videos" class="form-label">videos</label>
      <input type="text" class="form-control" id="videos" name="videos" />
    </div>
    <div class="mb-3">
      <label for="slug" class="form-label">slug</label>
      <input type="text" class="form-control" id="slug" name="slug" />
    </div>
    <button type="submit" class="btn btn-primary">Them khoa hoc</button>
  </form>
</div>