<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">search</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="nhap tu khoa..."
      />
    </div>
    <div class="mb-3">
      <label for="gender-input" class="form-label">gioi tinh</label>
      <select class="form-control" id="search-input" name="gender">
        <option value="">--chon gioi tinh--</option>
        <option value="nam">Nam</option>
        <option value="nu">Nu</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">tim kiem</button>
  </form>

</div>
